body{
  color: #4682B4;
    font-weight: 400;
    background: #ffffff;
    font-family: 'Barlow', sans-serif;
}
a:hover,
a:active,
a:focus {
  color: #FF8C00;
  outline: none;
  text-decoration: none;
}
.btn.btn-custom  {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn.btn-custom ::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn.btn-custom :hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn.btn-custom ::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn.btn-custom :hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/*top bar*/
.top-bar {
  position: relative;
  height: 75px;
  display: flex;
  align-items: center;
  background: #ffffff;
}

.top-bar .top-bar-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-bar .top-bar-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4682B4;
  border-radius: 40px;
}

.top-bar .top-bar-icon i {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
}

.top-bar .top-bar-text {
  padding-left: 15px;
}

.top-bar .top-bar-text h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.top-bar .top-bar-text p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
/*navbar*/
.nav-bar {
  position: relative;
  padding-top: 20px;
  background: #4682B4;
}

.nav-bar.nav-sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  z-index: 999;
}

.nav-bar .navbar {
  padding: 20px 0;
  background: #4682B4 !important;
  transition: .3s;
}

.nav-bar.nav-sticky .navbar {
  padding: 5px 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  padding: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #FF8C00;
}

.nav-bar .btn.btn-custom {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #4682B4;
  background: #ffffff;
  box-shadow: inset 0 0 0 0 #FF8C00;
}

.nav-bar .btn:hover {
  color: #ffffff;
  background: #FF8C00;
  box-shadow: inset 200px 0 0 0 #FF8C00;
}

@media (min-width: 992px) {
  .nav-bar .navbar-brand {
      display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
      padding: 5px 0;
  }
  
  .nav-bar .btn {
      display: none;
  }
}

/*about*/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.about .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .about-img img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.about .about-content {
  margin-bottom: 30px;
}

.about .about-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
}

.about .about-content ul li {
  margin-bottom: 5px;
}

.about .about-content ul li i {
  margin-right: 8px;
  color: #39B972;
}
/*price*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
max-width: 100%;
height: auto;
}
.main-title {
margin-bottom: 50px;
text-align: center;
}

.main-title h1 {
font-size: 35px;
font-weight: 700;
margin-bottom: 15px;
}

.main-title h2 {
font-size: 28px;
font-weight: 600;
margin-bottom: 5px;
}

.main-title p{
font-size: 18px;
margin-bottom: 0;
}
.pricing {
text-align: center;
margin-bottom: 30px;
position: relative;
z-index: 9;
box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.pricing .price-header {
width: 100%;
background: #fff;
padding: 35px 20px;
}

.pricing .price-header .title {
margin: 0 0 10px;
font-size: 20px;
font-weight: 600;
color: #37404d;
}

.pricing .price-header .price {
font-size: 35px;
font-weight: 300;
margin: 0;
color: #37404d;
}

.pricing .content {
padding: 20px 20px 30px;
background: #f9f9f9;
}

.pricing .content ul {
margin: 0 0 20px;
}

.pricing .content ul li {
padding: 8px 0;
font-size: 16px;
color: #656565;
}

.pricing.featured .listing-badges {
position: absolute;
top: 0;
z-index: 999;
right: 0;
width: 100%;
display: block;
font-size: 15px;
padding: 0;
overflow: hidden;
height: 100px;
}

.pricing.featured .featured {
float: left;
transform: rotate(-45deg);
left: -67px;
top: 17px;
position: relative;
text-align: center;
width: 200px;
font-size: 13px;
margin: 0;
padding: 7px 10px;
font-weight: 500;
color: #fff;
}
.pricing.featured .featured {
background: #FF8C00;
}

.pricing .btn.btn-custom {
  color: #4682B4;
  background: #FF8C00;
  box-shadow: inset 0 0 0 0 #4682B4;
}
.pricing .btn.btn-custom:hover {
  color: #ffffff;
  background: #ffffff;
  box-shadow: inset 200px 0 0 0 #4682B4;
}

.pricing.featured  .btn.btn-custom {
  color: #ffffff;
  background: #4682B4;
  box-shadow: inset 0 0 0 0 #FF8C00;
}

.pricing.featured   .btn.btn-custom:hover {
  color: #4682B4;
  background: #FF8C00;
  box-shadow: inset 200px 0 0 0 #FF8C00;
}
.contact-form{
  margin:auto;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
}
/*location*/
.location {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.location .location-item {
  display: flex;
  margin-bottom: 30px;
}

.location .location-item i {
  padding-top: 3px;
  font-size: 30px;
  color: #E81C2E;
}

.location .location-text {
  padding-left: 15px;
}

.location .location-text h3 {
  font-size: 18px;
  font-weight: 700;
}

.location .location-text p {
  margin-bottom: 5px;
}

.location .location-text p strong {
  margin-right: 5px;
  font-weight: 600;
}

/*contact*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #37404d;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contact-form .btn.btn-custom{
  color: black;
  background: #ffffff;
  box-shadow: inset 0 0 0 0 #FF8C00;
}
.contact-form .btn.btn-custom:hover{
  color: #ffffff;
    background: #4682B4;
    box-shadow: inset 200px 0 0 0 #4682B4;
}
/*footer*/
.footer {
  position: relative;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background: #4682B4;
}

.footer .footer-social {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer .footer-social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4682B4;
  background: #ffffff;
  border-radius: 40px;
  margin-right: 5px;
  transition: .5s;
}

.footer .footer-social a:hover {
  color: #ffffff;
  background: #FF8C00;
}

/*back to top*/
.back-to-top {
  position: fixed;
  display: none;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: .5s;
  background: #FF8C00;
  border-radius: 44px;
  z-index: 9;
}

.back-to-top i {
  color: #ffffff;
  padding-top: 10px;
}

.back-to-top:hover {
  background: #4682B4;
}
/*loader*/
#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
  -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
  transition: opacity .3s ease-out, visibility 0s linear .3s;
  z-index: 999;
}

#loader.show {
  -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
  transition: opacity .6s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .loader {
  position: relative;
  width: 45px;
  height: 45px;
  border: 5px solid #dddddd;
  border-top: 5px solid #4682B4;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*service*/
.services {
  background-color: #f9c684;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  width: 100%;
  height: 50%;
  bottom: 0;  
  z-index: -1;  
}
.inner-width{
  width :100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;

}
.title{
  text-align: center;
  color:#4682B4;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
 width: 160px;
 height: 2px;
 background: #dddddd;
 margin:40px auto; 
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}